.gdbar img {
  width: 300px !important;
  height: 118px !important;
  margin: 8px 8px;
}

.gdbar {
  width: 350px !important;
  height: 134px !important;
}

slides > slide:not(.nobackground):before {
  width: 150px;
  height: 59px;
  background-size: 150px 59px;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 1.5em;
}

figcaption {
  padding: .5em;
  font-size: 0.7em;
}
